*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #ff4d6d, #6a5af9, #4cc9f0);
    background-size: 300% 300%;
    animation: bgAnime 8s infinite alternate;
    font-family: "Poppins", sans-serif;
    color: white;
}

@keyframes bgAnime {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}


#img {
    width: 250px;
    filter: drop-shadow(0 0 20px #ffffffaa);
    transition: 0.3s;
}

#img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 35px #fff);
}


.button {
    width: 120px;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background: #ffffffcc;
    color: #000;
    transition: 0.3s;
    box-shadow: 0 0 10px #fff;
}

.button:hover {
    transform: scale(1.15);
    box-shadow: 0 0 25px #fff;
}
